data/
build/
nimcache/
output/
.vscode/
*.elf
*.elf.map
*.gba
*.sav
*.exe
*.bak
lastmodified.cfg
levels/.sync/
.DS_Store
tools/grik
source/gen
levels/*.png
levels/wip/
*.tiled-session
wip/
*.sa2
*.sa3
*.sa4
.vscode/